html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    width: auto;
    height: 75px;
    font-family: 'Inter';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white
}

.gradient-logo {
    background: linear-gradient(90deg, #989c9d, #03060e);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
    background-clip: text;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    text-decoration: none;
    color: #03060e;
    font-size: 16px;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline
}

.contact-me {
    border: 1px solid #222222;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
    gap: 9px;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 14px;
    font-family: 'Inter';
    cursor: pointer;
}

.contact-me:hover {
    border: 1px solid #222222;
    color: black;
    background-color: white;
    transition: all 0.25s ease;
}

/* header section */
header {
    width: auto;
    height: calc(100vh - 75px);
    display: flex;
    padding: 0 70px;
    background-color: #ffffff;
    align-items: center;
}

.header-left {
    width: 50%;
    height: calc(100vh - 75px);
    font-family: 'Inter';
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.intro-top {
    font-size: 17px;
    font-weight: 400;
}

.intro-middle {
    font-size: 60px;
    font-weight: 700;
}

.intro-middle span {
    background: linear-gradient(90deg, #222, #676b6e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-bottom {
    color: #7e8084;
    font-size: 15px;
    font-weight: 400;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.header-button {
    border: none;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter';
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.cv {
    background-color: #222222;
    border: 1px solid #222222;
    color: white;
}

.cv:hover {
    background-color: #393a3b;
    border: 1px solid #393a3b;
}

.contact-me-outline {
    border: 1px solid #222222;
    color: black;
    background-color: white;
}

.contact-me-outline:hover {
    background-color: #f5f2f2;
}

.floating-icon {
    position: absolute;
    opacity: 0.7
}

.github {
    top: 100px;
    right: 230px;
    filter: blur(3.5px);
    transform: rotate(20deg);
}

.nextjs {
    bottom: 60px;
    left: -50px;
    filter: blur(2.5px);
    transform: rotate(-30deg);
}

.header-right {
    width: 50%;
    height: calc(100vh - 75px);
    background-image: linear-gradient(to right, rgba(224,224,224,0.2) 1px, transparent 1px), linear-gradient(to bottom, rgba(224,224,224,0.2) 1px, transparent 1px);
    background-size: 70px 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
    font-family: 'Inter';
}

.header-right h2 {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

.stack-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.tech-stack-container {
    display: flex;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    opacity: 0.8;
    transition: all 0.3s ease;
    cursor: pointer
}

.tech-stack-container:hover {
    opacity: 1;
    transform: scale(1.1);
}

.tech-badge {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
    color: #333
}

section {
    height: calc(100vh - 75px);
    background-color: black
}




